#seven_eleven{
    position: absolute;
    display: block;
    left: 100px;
    bottom: 170px;
    height: 40px;
    width: 100px;

    background-color: rgba(0, 0, 0, 0);
    border: none;
}

#sunoco{
    position: absolute;
    display: block;
    left: 260px;
    bottom: 170px;
    height: 40px;
    width: 100px;

    background-color: rgba(0, 0, 0, 0);
    border: none;
}

#friends{
    position: absolute;
    display: block;
    left: 150px;
    top: 90px;
    height: 30px;
    width: 70px;

    background-color: rgba(0, 0, 0, 0);
    border: none;
}

#feed{
    position: absolute;
    display: block;
    left: 260px;
    top: 90px;
    height: 30px;
    width: 60px;

    background-color: rgba(0, 0, 0, 0);
    border: none;
}

#back{
    position: absolute;
    display: block;
    left: 80px;
    top: 90px;
    height: 30px;
    width: 60px;

    background-color: rgba(0, 0, 0, 0);
    border: none;
}

#show_statistics{
    position: absolute;
    display: block;
    left: 160px;
    top: 410px;
    height: 30px;
    width: 170px;

    background-color: rgba(0, 0, 0, 0.5);
    border: none;
}
