#seven_eleven{
    position: absolute;
    display: block;
    left: 100px;
    bottom: 170px;
    height: 40px;
    width: 100px;

    background-color: rgba(0, 0, 0, 0);
    border: none;
}

#sunoco{
    position: absolute;
    display: block;
    left: 260px;
    bottom: 170px;
    height: 40px;
    width: 100px;

    background-color: rgba(87, 41, 41, 0.5);
    border: none;
}
